<div id="topscreen" >
    <div id="cat">
      <%= image_tag "top/cat/cat_black.gif",:size=>"140x190",:alt=>"cat" %>
    </div>
    <div id="message">
       <p class="speech">This is House task!</p>
	</div>
</div>
<div id="bottomscreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	    <%= link_to image_tag("button/button.png", alt: "b_talk",  width:"72", height:"41"), "/kid/talk" %>
            <%= link_to image_tag("button/button.png", alt: "b_task",  width:"72", height:"41"), "/kid/task/home" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>    
  
           
		</div>
		<div id="task-icon">
           <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/1" %>
           </div> 
            <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/2" %>
           </div>            
            <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/3" %>
           </div> 
           <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/4" %>
           </div> 

	         <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/5" %>
           </div> 
            <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/6" %>
           </div>            
            <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/7" %>
           </div> 
           <div class="task-button">
              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/kid/task/do/8" %>
           </div> 

		</div>
    </form>
</div>
<script>document.body.scrollTop='218';</script>
