<div id="topscreen" >
     <div id="message">
       <p class="speech">Welcome to KID-CAT!</p>
    </div>
    <div id="cat">
        <%= image_tag "top/cat/cat_black.gif",:size=>"93x114",:alt=>"cat" %>
    </div>
</div>
<div id="bottomscreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
            <%= link_to image_tag("under/images/top_btm_01.gif", alt: "b_talk",  width:"72", height:"41"), "/kid/talk" %>
            <%= link_to image_tag("under/images/top_btm_02.gif", alt: "b_task",  width:"72", height:"41"), "/kid/task/home" %>
            <%= link_to image_tag("under/images/top_btm_03.gif", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>
            <%= link_to image_tag("under/images/top_btm_04.gif", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>          
		</div>
        <div class="flickSimple" id="firstitem">
            <ul>
                <li> <%= link_to image_tag("under/images/stamp/stamp_n.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_smaile.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_syobom.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li> <%= link_to image_tag("under/images/stamp/stamp_n.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_smaile.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_syobom.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li> <%= link_to image_tag("under/images/stamp/stamp_n.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_smaile.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_syobom.gif", alt: "b_talk",  width:"90", height:"90"), "/kid/talk" %></li>            
            </ul>
        </div>
		<div id="input">
           <div id="text-input">
              <input type="text" name="field" size=40 value="" onChange="nochange()"> <br>
              <center><%= link_to image_tag("under/images/stamp/btm_sent.gif", alt: "b_talk",  width:"50", height:"25"), "/kid/talk" %></center> 
           </div>
           <div id="input-button">
               <%= link_to image_tag("under/images/stamp/btm_sent.gif", alt: "b_talk",  width:"50", height:"25"), "/kid/talk" %>
           </div>
        </div>        
    </form>
</div>
<script>document.body.scrollTop='218';</script>
