<div id="topscreen" >
    <div id="cat">
      <%= image_tag "cat.jpg",:size=>"160x218",:alt=>"cat" %>
    </div>
    <div id="message">
       <p class="speech">Welcome to KID-CAT!</p>
	</div>
</div>
<div id="bottomscreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
			<%= link_to image_tag("button/button.png", alt: "b_talk",  width:"78", height:"40"), "/kid/talk" %>
            <%= link_to image_tag("button/button.png", alt: "b_task",  width:"75", height:"40"), "/kid/task/home" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"75", height:"40"), "/kid/item/" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"75", height:"40"), "/kid/item/" %>    
           
		</div>
		<div id="icon">
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
            <%= link_to image_tag("icon/icon.png", alt: "b_talk",  width:"120", height:"120"), "/kid/talk" %>
		</div>
		<div id="input">
           <input type="text" name="field" size=25 value="Input text." onChange="nochange()"> 
           <input type="button" onclick="func();" value="Enter">
		</div>
    </form>
</div>