<div id="topscreen" >
       <div id="message">
          <p class="speech">ビデオを見ながらやるって楽しいね！!</p>
	   </div>	
       <div id="cat">
		<%= video_tag "cat.mp4", :size => "93x114", :controls => true %>
       </div>
</div>
<div id="bottomscreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("under/images/top_btm_01.gif", alt: "b_talk",  width:"72", height:"41"), "/kid/talk" %>
            <%= link_to image_tag("under/images/top_btm_02.gif", alt: "b_task",  width:"72", height:"41"), "/kid/task/home" %>
            <%= link_to image_tag("under/images/top_btm_03.gif", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>
            <%= link_to image_tag("under/images/top_btm_04.gif", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>    
		</div>
		<div id="task-confirm">
			<center>
				<div id="task-confirm-message">	
					<h4>完了しましたよ!</h4>
				</div>
				<div id="task-image-confirm">
	                                <%= image_tag "under/images/btm_02.gif",:size=>"60x60",:alt=>"task" %>	
				</div>
				<div id="select-button">
                                       <%= link_to image_tag("under/images/stamp/right.gif", alt: "b_task",  width:"30", height:"20"), "/kid/task/finish" %>
                </div>        
		    </center>
		</div>
    </form>
</div>
<script>document.body.scrollTop='218';</script>
