<div id="topscreen" >
    <div id="message">
       <p class="speech">おてつだいいっしょにやりましょうか？!</p>
	</div>
    <div id="cat">
        <%= image_tag "top/cat/cat_black.gif",:size=>"93x114",:alt=>"cat" %>
    </div>

</div>
<div id="bottomscreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("under/images/top_btm_01.gif", alt: "b_talk",  width:"72", height:"41"), "/kid/talk" %>
            <%= link_to image_tag("under/images/top_btm_02.gif", alt: "b_task",  width:"72", height:"41"), "/kid/task/home" %>
            <%= link_to image_tag("under/images/top_btm_03.gif", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>
            <%= link_to image_tag("under/images/top_btm_04.gif", alt: "b_item",  width:"72", height:"41"), "/kid/item/" %>    
		</div>
		<div id="task-confirm">
			<center>
				<div id="task-confirm-message">	
					<h4>このおてつだいをしませんか</h4>
				</div>
				<div id="task-image-confirm">
	                                <%= image_tag "under/images/btm_01.gif",:size=>"60x60",:alt=>"task" %>	
				</div>
				<div id="select-button">
                                       <%= link_to image_tag("under/haiie/no.gif", alt: "b_task",  width:"30", height:"20"), "/kid/task/home" %>
                                       <%= link_to image_tag("under/haiie/yes.gif", alt: "b_task",  width:"30", height:"20"), "/kid/task/doing/2" %>
                </div>        
		    </center>
		</div>
    </form>
</div>
<script>document.body.scrollTop='218';</script>
