<div id="iphonescreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("under/images/top_btm_04.gif", alt: "b_talk",  width:"72", height:"41"), "/oya/child/action" %>
            <%= link_to image_tag("under/images/top_btm_01.gif", alt: "b_task",  width:"72", height:"41"), "/oya/talk" %>
            <%= link_to image_tag("under/images/top_btm_02.gif", alt: "b_item",  width:"72", height:"41"), "/oya/task/list" %>
            <%= link_to image_tag("under/images/top_btm_03.gif", alt: "b_item",  width:"72", height:"41"), "/oya/task/gift" %>              
                         
		</div>
		<div id="new-task">
			<center>
			お手伝いを選択してください！
				<div id="task-icon">
		           <div class="task-button">
		              <%= link_to image_tag("under/images/btm_01.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_02.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div>            
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_03.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		           <div class="task-button">
		              <%= link_to image_tag("under/images/btm_04.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 

			         <div class="task-button">
		              <%= link_to image_tag("under/images/btm_05.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_06.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div>            
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_01.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		           <div class="task-button">
		              <%= link_to image_tag("under/images/btm_02.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 

		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_01.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_02.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div>            
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_03.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		           <div class="task-button">
		              <%= link_to image_tag("under/images/btm_04.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 

			         <div class="task-button">
		              <%= link_to image_tag("under/images/btm_05.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_06.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div>            
		            <div class="task-button">
		              <%= link_to image_tag("under/images/btm_01.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
		           <div class="task-button">
		              <%= link_to image_tag("under/images/btm_02.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/gift" %>
		           </div> 
			    </div>
		    </center>
		</div>
    </form>
</div>
