<div id="iphonescreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("under/images/top_btm_04.gif", alt: "b_talk",  width:"72", height:"41"), "/oya/child/action" %>
            <%= link_to image_tag("under/images/top_btm_01.gif", alt: "b_task",  width:"72", height:"41"), "/oya/talk" %>
            <%= link_to image_tag("under/images/top_btm_02.gif", alt: "b_item",  width:"72", height:"41"), "/oya/task/list" %>
            <%= link_to image_tag("under/images/top_btm_03.gif", alt: "b_item",  width:"72", height:"41"), "/oya/task/gift" %>            
		</div>
		<div id="new-task">
			<center>
			アイテム選択
				<div id="item-icon">
		           <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_01.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div> 
		            <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_02.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div>            
		            <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_03.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div> 
		           <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_04.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div> 
			       <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_05.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div> 
		            <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_06.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div>            
		            <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_01.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div> 
		           <div class="item-button">
		              <%= link_to image_tag("SP/prezent/ribon_02.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
		           </div> 
			    </div>
		
			    <div id="coupon-list">
			    	クーポン選択
			    	<div id="item-coupon">
                        <%= link_to image_tag("SP/prezent/kupon.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
                        Disneyland 10% off!
			    	</div>
			    	<div id="item-coupon">
                        <%= link_to image_tag("SP/prezent/kupon.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
                        Disneyland 10% off!
			    	</div>
			    	<div id="item-coupon">
                        <%= link_to image_tag("SP/prezent/kupon.gif", alt: "b_task",  width:"58", height:"58"), "/oya/task/finish" %>
                        Disneyland 10% off!
			    	</div>			    	
			    </div>
		    </center>
		</div>
		<div id="add-task">
            <%= link_to image_tag("under/images/stamp/btm_sent.gif", alt: "b_task",  width:"50", height:"35"), "/oya/task/finish" %>
		</div>
    </form>
</div>

