
<div id="iphonescreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("under/images/top_btm_04.gif", alt: "b_talk",  width:"72", height:"41"), "/oya/child/action" %>
            <%= link_to image_tag("under/images/top_btm_01.gif", alt: "b_task",  width:"72", height:"41"), "/oya/talk" %>
            <%= link_to image_tag("under/images/top_btm_02.gif", alt: "b_item",  width:"72", height:"41"), "/oya/task/list" %>
            <%= link_to image_tag("under/images/top_btm_03.gif", alt: "b_item",  width:"72", height:"41"), "/oya/task/gift" %>              
		</div>
		<div id="child-task">
			<center>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_01.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/kanryo.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_02.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/kanryo.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_03.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/kanryo.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_04.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_02.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_05.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/mikan.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/kanryo.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_02.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_03.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/kanryo.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_01.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_02.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
				<div id="task-item">	
					 <%= image_tag "under/images/btm_02.gif",:size=>"50x40",:alt=>"task" %>  
					 2012-08-09 17:45
                     <%= link_to image_tag("under/images/mikan.gif", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
				</div>
		    </center>
		</div>
		<div id="add-task">
            <%= link_to image_tag("button/button.png", alt: "b_task",  width:"50", height:"30"), "/oya/task/add" %>
		</div>
    </form>
</div>
