
<div id="iphonescreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("button/button.png", alt: "b_talk",  width:"72", height:"41"), "/oya/child/action" %>
            <%= link_to image_tag("button/button.png", alt: "b_task",  width:"72", height:"41"), "/oya/talk" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"72", height:"41"), "/oya/task/list" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"72", height:"41"), "/oya/task/gift" %>               
		</div>
		<div id="oya-talk">
			<center>
				<p class="speech-l">Welcome to KID-CAT!</p>
				<p class="speech-r">Welcome to KID-CAT!</p>
				<p class="speech-l">Welcome to KID-CAT!</p>
				<p class="speech-r">Welcome to KID-CAT!</p>
				<p class="speech-l">Welcome to KID-CAT!</p>
				<p class="speech-r">Welcome to KID-CAT!</p>
				<p class="speech-l">Welcome to KID-CAT!</p>
				<p class="speech-r">Welcome to KID-CAT!</p>
		    </center>
		</div>
        <div class="flickSimple-sp" id="firstitem-sp">
            <ul>
                <li> <%= link_to image_tag("under/images/stamp/stamp_n.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_smaile.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_syobom.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li> <%= link_to image_tag("under/images/stamp/stamp_n.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_smaile.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_syobom.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li> <%= link_to image_tag("under/images/stamp/stamp_n.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_smaile.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>
                <li><%= link_to image_tag("under/images/stamp/stamp_syobom.gif", alt: "b_talk",  width:"50", height:"50"), "/kid/talk" %></li>            
            </ul>
        </div>

		<div id="input-oya">
           <input type="text" name="field" size=32 value="Input text." onChange="nochange()"> <br>
           <input type="button" onclick="func();" value="Send as cat">
           <input type="button" onclick="func();" value="Send as parent">
		</div>
    </form>
    </form>
</div>
