<div id="iphonescreen" >
    <form name="messages" onSubmit="return false"> 
		<div id="menu">
	        <%= link_to image_tag("button/button.png", alt: "b_talk",  width:"72", height:"41"), "/oya/child/action" %>
            <%= link_to image_tag("button/button.png", alt: "b_task",  width:"72", height:"41"), "/oya/talk" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"72", height:"41"), "/oya/task/list" %>
            <%= link_to image_tag("button/button.png", alt: "b_item",  width:"72", height:"41"), "/oya/task/gift" %>               
		</div>
		<div id="new-task">
			<center>
			Select item
				<div id="item-icon">
		           <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div> 
		            <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div>            
		            <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div> 
		           <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div> 
			       <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div> 
		            <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div>            
		            <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div> 
		           <div class="item-button">
		              <%= link_to image_tag("button/task.png", alt: "b_task",  width:"58", height:"58"), "/oya/task/list" %>
		           </div> 
			    </div>
			  Select coupon
			    <div id="coupon-list">
			    	<div id="item-coupon">
                        coupon for Disney land!!
			    	</div>
			    	<div id="item-coupon">
                        coupon for Disney land!!
			    	</div>
			    	<div id="item-coupon">
                        coupon for Disney land!!
			    	</div>			    	
			    </div>
		    </center>
		</div>
		<div id="add-task">
            <%= link_to image_tag("button/button.png", alt: "b_task",  width:"50", height:"30"), "/oya/task/list" %>
		</div>
    </form>
</div>

